Grid {
  display: block;
  font-size: 0;
  margin: 0;
  padding: 0;
  text-align: left;
}

.Grid--withGutter {
  margin: 0 -0.5rem;
}

.Grid--withGutter > .Grid-cell {
  padding: 0 0.5rem;
}

.Grid-cell {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

/**
 * Component: Card
 */
.Card-image {
  text-align: center;;
  /* display: inline-block !important;
  position: relative !important; */
}

/* .Card-image:after {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2) !important;
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
} */

.Card-image img {
  /* display: block !important;
  height: 5em !important; */
  width: 40% !important;
}

.Card-expiry {
  text-align: center;
  color: #aaa !important;
  font-size: 1em !important;
}

/**
 * Component: Tiles
 */
.Tiles {
  font-size: 0 !important;
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.Tile {
  display: inline-block !important;
  font-size: 1rem !important;
  margin: 0 !important;
  vertical-align: top !important;
  width: 100% !important;
}

.Tile-content {
  background: #fff !important;
  border-radius: 0.375rem !important;
  color: #444 !important;
  margin: 1rem 0.5rem 0 !important;
  min-height: 10em !important;
  padding: 1rem !important;
  position: relative !important;
}

.Tile-content--toggle {
  cursor: pointer !important;
}
.Tile-content--toggle:focus, .Tile-content--toggle:hover {
  box-shadow: 0 0 0 3px #75d1ff !important;
  outline: 0 !important;
}

.Tile.is-disabled .Tile-content--toggle {
  cursor: default !important;
  opacity: 0.5 !important;
}
.Tile.is-disabled .Tile-content--toggle:focus, .Tile.is-disabled .Tile-content--toggle:hover {
  box-shadow: none !important;
}

.Tile-flyout {
  display: none !important;
  position: relative !important;
}

.Tile.is-expanded .Tile-flyout {
  display: block !important;
}

.Tile-flyout:before {
  background: #fff !important;
  content: "" !important;
  left: 50% !important;
  margin-left: -0.5rem !important;
  position: absolute !important;
  height: 1rem !important;
  top: -0.5rem !important;
  transform: rotate(45deg) !important;
  width: 1rem !important;
}

/**
 * Breakpoint layout changes
 */
@media (min-width: 30em) {
  .Tile {
    width: 50% !important;
  }

  .Tile-flyout {
    width: 200% !important;
  }

  .Tile:nth-child(2n+1) .Tile-flyout {
    margin-left: 0% !important;
  }
  .Tile:nth-child(2n+1) .Tile-flyout:before {
    left: 25% !important;
  }

  .Tile:nth-child(2n+2) .Tile-flyout {
    margin-left: -100% !important;
  }
  .Tile:nth-child(2n+2) .Tile-flyout:before {
    left: 75% !important;
  }
}
@media (min-width: 48em) {
  .Tile {
    width: 33.3333333333% !important;
  }

  .Tile-flyout {
    width: 300% !important;
  }

  .Tile:nth-child(3n+1) .Tile-flyout {
    margin-left: 0% !important;
  }
  .Tile:nth-child(3n+1) .Tile-flyout:before {
    left: 16.6666666667% !important;
  }

  .Tile:nth-child(3n+2) .Tile-flyout {
    margin-left: -100% !important;
  }
  .Tile:nth-child(3n+2) .Tile-flyout:before {
    left: 50% !important;
  }

  .Tile:nth-child(3n+3) .Tile-flyout {
    margin-left: -200% !important;
  }
  .Tile:nth-child(3n+3) .Tile-flyout:before {
    left: 83.3333333333% !important;
  }
}
@media (min-width: 64em) {
  .Tile {
    width: 25% !important;
  }

  .Tile-flyout {
    width: 100% !important;
  }

  .Tile:nth-child(4n+1) .Tile-flyout {
    margin-left: 0% !important;
  }
  .Tile:nth-child(4n+1) .Tile-flyout:before {
    left: 12.5% !important;
  }

  .Tile:nth-child(4n+2) .Tile-flyout {
    margin-left: -100% !important;
  }
  .Tile:nth-child(4n+2) .Tile-flyout:before {
    left: 37.5% !important;
  }

  .Tile:nth-child(4n+3) .Tile-flyout {
    margin-left: -200% !important;
  }
  .Tile:nth-child(4n+3) .Tile-flyout:before {
    left: 62.5% !important;
  }

  .Tile:nth-child(4n+4) .Tile-flyout {
    margin-left: -300% !important;
  }
  .Tile:nth-child(4n+4) .Tile-flyout:before {
    left: 87.5% !important;
  }
}
/**
 * Utilities: Space
 */
.u-marginTop {
  margin-top: 1rem;
}

@media (min-width: 48em) {
  .u-md-no-marginTop {
    margin-top: 0;
  }
}
/**
 * Utilities: Size
 *
 * https://github.com/suitcss/utils-size/
 */
.u-size1of2 {
  /* width: 50% !important; */
}

@media (min-width: 48em) {
  .u-md-size1of2 {
    /* width: 50% !important; */
  }
}
/**
 * Utilities: Text
 * 
 * https://github.com/suitcss/utils-text/
 */
.u-textCenter {
  text-align: center !important;
}

.u-textRight {
  text-align: right !important;
}


.icon-xs i{
  width: 5em !important;
  line-height: 36px !important;
  font-size: 16px !important;
}




.service_card {
  width: 340px;
  overflow: hidden;
  background-color: #f1f1f1;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  border-radius: 7px;
  box-shadow: -5px -5px 25px rgba(0, 0, 0, 0.705);
  margin: 50px auto;

  animation-name: rotate;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.service_card .top-card {
  width: 100%;
  /* height: 200px; */
}

.service_card .top-card img {
  width: 100%;
}

.service_card .top-card .menu-icon {
  position: relative;
  width: 22px;
  bottom: 13.7em;
  left: 1.1em;
  cursor: pointer;
}

.service_card .top-card .menu-icon .menu {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #000;
  margin-bottom: 6px;
  opacity: .5;
  transition: .4s;
}

.service_card .top-card .menu-icon .item1 {
  left: -5px;
}

.service_card .top-card .menu-icon .item2 {
  left: 5px;
}

.service_card .top-card .menu-icon:hover .menu {
  left: 0;
  border-radius: 1px;
}

.service_card .top-card .name {
  width: 50%;
  height: 0;
  text-align: center;
  float: right;
}

.service_card .top-card .name p {
  position: relative;
  font-size: 50px;
  font-weight: 800;
  color: #000;
  opacity: .5;
  bottom: 140px;
  line-height: 50px;
  text-align: center;
}

.service_card .top-card .name span {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.service_card h1 {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  margin: 12px 0;
  border-bottom: 4px solid rgba(1, 106, 175, 0.603);
  width: 50%;
}

.service_card .middle-card, footer {
  margin: 5px 25px;
}

.service_card .middle-card {
  text-align: justify;
}


/* ANIMATION */
@keyframes rotate {
  0% {
      transform-origin: left bottom;
      transform: rotate3d(0, 0, 1, 45deg);
      opacity: 0;
  }
  100% {
      transform-origin: left bottom;
      transform: none;
      opacity: 1;
  }
}









.winning.wrapper{
  padding: 70px 0;
  overflow-x: hidden;
}


.winning .my-slider{
  padding: 0 70px;
}
.winning .slick-initialized .slick-slide{
  background-color: rgb(255 252 252 / 50%);
  color: #FFF;
  height: 600px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px); 
  border-radius:2%;

}



.winning .slick-initialized .slick-slide img{
  width: 90%;
  height: 90%;
  border-radius:2%;

}



.winning .slick-next, .slick-prev{
  z-index: 5;
}

.winning .slick-next{
  right: 15px;
}

.winning .slick-prev{
  left: 15px;
}

.winning .slick-next:before, .slick-prev:before{
  color: #000;
  font-size: 26px;
}

.slick-dots{
  position: absolute;
  bottom: -38px;
  display: block;
  width: 86%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}





.payment .modal_wrap input{
	display: none;
}

.payment .modal_overlay{
	display: flex;
	justify-content: center;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: opacity 0.2s, transform 0s 0.2s;
	transform: scale(0);
}

.payment .modal_trigger{
	position: absolute;
	width: 100%;
	height: 100%;
}

.payment .modal_content{
	align-self: center;
	width: 25%;
	max-width: 800px;
	padding: 30px 30px 15px;
	box-sizing: border-box;
	background: #fff;
	line-height: 1.4em;
	transform: scale(0.3);
	transition: 0.2s;
}

.payment .close_button{
	position: absolute;
	top: 14px;
	right: 16px;
	font-size: 24px;
	cursor: pointer;
}

.payment .modal_wrap input:checked ~ .modal_overlay{
	opacity: 1;
	transform: scale(1);
	transition: opacity 0.5s;
}

.payment .modal_wrap input:checked ~ .modal_overlay .modal_content{
	transform: scale(1);
}

.payment .card{
	/* display: flex;
	justify-content: center; */
	align-items: center;
	/* width: 100%; */
	/* margin: auto; */
	padding: 10px 16px;
	color: #444;
	font-weight: bold;
	box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	border-radius: 2px;
	cursor: pointer;
}





