
heading{
    text-align: center;
  }
  heading h5{
    margin-top: 1.6rem;
    text-decoration: underline;
  }
  .mt-20{
    margin-top: 20px;
  }
  .mt-30{
    margin-top: 30px;
  }
  p{
    font-weight: 500;
  }
  .body p{
    text-indent: 70px;
    text-align: justify;
    line-height: 1.8rem;
    align-items: justify;
    word-spacing: 0.4rem;
  }
  .body h6{
    text-align: center;
  }
   span{
    text-decoration: underline;
  }
  .sign{
    text-align: right;
  }
  
  ol li{
    line-height: 1.7rem;
    word-spacing: 0.4rem;
   
  }

  