#map {
    margin-top: 10px;
    height: 500px;
    width: 100%;
    position: relative;
    flex-grow: 1;
    transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    margin-bottom: 20px;
}
.leaflet-bottom {
    left: 27%;
}
.leaflet-container {
    background: none;
}

.leaflet-control-attribution {
    display: none;
}

.info {
    margin-top: 2vh !important;
    padding: 5px 5px;
    background: white;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 150px;
}

.info h4 {
    text-align: center;
    color: #0078a8;
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.province_label {
    margin-left: -25px !important;
    margin-top: -20px !important;
    font-size: 17px;
    text-shadow: 1px 1px darkgrey;
    font-weight: bold;
    color: black;
}

.district_label {
    margin-left: -17px !important;
    margin-top: -11px !important;
    font-size: 14px;
    font-weight: bold;
    opacity: .7;
    /* text-shadow: 1px 1px black; */
    color: black;
}

.localLevel_label {
    font-size: 13px;
    font-weight: bold;
    color: black;
}

#custom_spinner {
    position: fixed;
    /* or absolute */
    top: 50%;
    left: 55%;
    z-index: 4000;
    color: ivory;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.75s linear infinite;
}

.spinner-border-sm {
    height: 1rem;
    border-width: 0.2em;
}
